<div class="row">
  <div class="col-md-6">
    <%= image_tag "agile.png", class: "image-responsive" %>
  </div>

  <div class="col-md-6">
    <div class="page-header">
      <h2><%= @book.name %><small> by <%= @book.author %></small></h2>
    </div>
    <p class="justify"><%= @book.description %></p>
    <h4 class="text-right"><%= number_to_currency(@book.price.to_f / 100) %></h4>
  </div>

</div>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
